/*
#566bf4
#0080fc
#008bea
#008fc4
#008f93
#008c62
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.page {
    font-family: 'Rubik', sans-serif;

    font-size: 2em;

    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right bottom, #566bf4, #374ac5);
    color: rgb(253, 253, 253);
    overflow: hidden;
}

.page h1 {
    text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    font-size: 4em;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

.page header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background: #ff6200;
    font-size: 1.5em;
    font-family: inherit;
    border: none;
    color: inherit;
    padding: 0.25em;
    border-radius: 10px;
    font-weight: bold;
    min-width: 40vh;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
    transform: scale(1.0);
}

button:disabled {
    opacity: 0.1;
}

button:active {
    transform: scale(1.1);
}

.highlight {
    animation: glowing 2000ms infinite;
}

@keyframes glowing {
    0% {
        background: #ff6200;
        transform: scale(1.0);
    }
    50% {
        background: #ffbb00;
        transform: scale(1.1);
    }
    100% {
        background: #ff6200;
        transform: scale(1.0);
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    padding: 2em;
}

.input-group label {
    font-size: 0.75em;
    opacity: 0.75;
    padding-bottom: 0.25em;
}

.input-group input {
    background: #3f4db9;
    border: none;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    padding: 0.25em;
    border: 2px solid rgba(0, 0, 0, 0.041);
}

::placeholder {
    color: white;
    opacity: 0.2;
}

.players {
    font-size: 0.25em;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1em;
}

.launch .players header {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.launch .players h1 {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.launch .players h3 {
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    font-weight: normal;
}

.players-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: #576cf5;
    font-size: 0.75em;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    min-width: 0;
    overflow: hidden;
    font-weight: normal !important;
    font-size: 1em;

    font-weight: bold;
    margin: 10px;
    height: 8vh;
    flex: 0 0 calc(25% - 20px);
}

.round-info {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;

    flex: 1em;
}

.round-info .topic-parent {
    text-align: center;
    padding: 0.5em;
}

.round-info .topic-title {
    opacity: 0.8;
    padding: 0.5em;
    font-size: 0.8em;
}

.round-info .topic {
    font-size: 2.0em;
}

.round-info .letter-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.1);
}

.round-info .letter {
    font-size: 2em;
    padding: 0em;
    margin: 0;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.round-info .round-bottom {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;

    min-width: 100vw;

    padding-bottom: 0.5em;
}

.round-bottom .link-button {
    font-size: 0.7em;
    min-width: 0vw;
    padding: 0.5em;
    background: none;
    color: white;
    opacity: 0.8;
    box-shadow: none;
    text-decoration: underline;
    font-weight: normal;
}

.round-bottom button:nth-child(1) {
    grid-column-start: 2;
}

.new-topic {
    margin-left: auto;
    font-size: 0.7em;
    width: auto;
    min-width: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px 0px 0px 10px;
}

.round-bottom button:disabled {
    opacity: 0.1;
    color: black;
}

.bounce {
    animation: scale infinite 3s;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.game {
}

.game .players {
    background-color: rgba(0, 0, 0, 0.1);

    padding: 0;
    padding-bottom: 1em;

    width: 100vw;
    margin: auto auto;
}

.game .players header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    opacity: 0.8;
}
