/*
#566bf4
#0080fc
#008bea
#008fc4
#008f93
#008c62
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.page {
    font-family: 'Rubik', sans-serif;

    font-size: 2em;

    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: rgb(253, 253, 253);
    overflow: hidden;
}

.page h1 {
    text-shadow: 0px 0.05em rgba(0, 0, 0, 0.1);
    font-size: 4em;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.page header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.5em;
}

.page .title {
    margin-bottom: 2em;
}

button {
    background: #ff6200;
    font-size: 1.5em;
    font-family: inherit;
    border: none;
    color: inherit;
    padding: 0.25em;
    border-radius: 10px;
    font-weight: bold;
    min-width: 40vw;
    box-shadow: 0px 0.25em #b14400;
    transition: all 0.25s;
    transform: scale(1.0);
}

button:disabled {
    opacity: 0.1;
}

button:active {
    transform: scale(1.1);
}

.highlight {
    animation: glowing 2000ms infinite;
}

@keyframes glowing {
    0% {
        background: #ff6200;
        transform: scale(1.0);
    }
    50% {
        background: #ffbb00;
        transform: scale(1.1);
    }
    100% {
        background: #ff6200;
        transform: scale(1.0);
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    padding-bottom: 0.4em;

    border-bottom: solid 2px rgba(0, 0, 0, 0.1);

    margin-bottom: 0.4em;
}

.input-group input {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1em;
    color: white;
    border-radius: 0.2em;
    padding: 0.4em;
}

::placeholder {
    color: white;
    opacity: 0.4;
    font-family: 'Rubik', sans-serif;
}

.players {
    font-size: 0.25em;
    width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1em;
}

.launch .players {
    background: rgba(0, 0, 0, 0.4);
}

.launch .players header {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.launch .players .title-line {
    align-self: flex-start;
}

.launch .players h1 {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

.launch .players h3 {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    font-weight: normal;
}

.players-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    color: #576cf5;
    font-size: 0.75em;

    margin: 0.2em;
}

.player {
    background: white;
    border-radius: 0.3em;
    text-align: center;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    min-width: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: normal;
    margin: 10px;
    height: 2.5em;
    flex: 0 0 calc(33% - 20px);
}

.round-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;

    align-self: flex-end;

    flex: 1em;
    margin-top: auto;
}

.round-info .topic-parent {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.round-info .topic-title {
    opacity: 0.8;
    padding: 0.5em;
    font-size: 0.8em;
}

.round-info .topic {
    font-size: 1.5em;
}

.round-info .letter-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.1);
}

.round-info .letter {
    font-size: 2.0em;
    padding: 0em;
    margin: 0;
    text-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.round-info .round-bottom {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;

    width: 100%;
    max-width: 100%;

    padding-bottom: 0.5em;
}

.round-bottom .link-button {
    font-size: 0.7em;
    min-width: 0vw;
    padding: 0.5em;
    background: none;
    color: white;
    opacity: 0.8;
    box-shadow: none;
    text-decoration: underline;
    font-weight: normal;
}

.round-bottom button:nth-child(1) {
    grid-column-start: 2;
}

@media (orientation: landscape) {
    .round-bottom {
        margin-right: 1em;
        margin-left: 1em;
    }

    .round-bottom button {
        border-radius: 10px;
    }
}

.new-topic {
    margin-left: auto;
    font-size: 1em;
    width: auto;
    min-width: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px 0px 0px 10px;
}

.round-bottom button:disabled {
    opacity: 0.1;
    color: black;
}

.bounce {
    animation: scale infinite 3s;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.game {
}

.game .players {
    background: rgba(0, 0, 0, 0.4);

    padding: 0;
    padding-bottom: 1em;

    width: 95%;
    margin: auto auto;
}

.game .players header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    opacity: 0.8;
}

.results h2 {
    font-size: 1.25em;
}

.results ol {
    padding: 2em;
    list-style-type: decimal;
    opacity: 0.9;
}

.results ol li {
    margin: 0.1em; 
}

.results .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.results .actions button {
    font-size: 0.8em;
    min-width: 30vw;
    align-self: center;
}

.title-bounce {
    animation: scale 3s infinite;
}
